.logout{
    text-decoration: none;
    color: black;
}

.herosec{
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    height: 70vh;
    position:fixed
}

.car{
    z-index: 5;
    margin-top: 500px;
    padding-top: 200px;
}

h2{
  font-size: 50px;
}
.bg-color{
    z-index: 10;
    background: #FF3131;

}
.herosec {
    position: relative;
    width: 100%;
    height: 70vh; /* metà viewport height, adattabile */
    background-image: url('/storage/app/public/HorizonMedia.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (max-width: 768px) {
    .herosec {
      height: 30vh; /* meno alto su mobile */
    }
  }

 
  .counter {
    font-size: 3rem;
    font-weight: bold;
  }


   .news-marquee-wrapper {
      width: 100%;
      overflow: hidden;
      position: relative;
      height: 70px;
    }

    .news-marquee {
      position: absolute;
      white-space: nowrap;
      font-size: 3rem; /* poco più grande */
      font-style: italic; /* corsivo */
      font-weight: bold;
      animation: slide-left 10s linear infinite;
    }

    @keyframes slide-left {
      0% {
        left: 100%;
      }
      100% {
        left: -100%;
      }
    }

    #nostri_numeri > p {

    color: black;
    font-size: 1rem;
    margin-top: 2.3rem; 
}

#nostri_numeri span {
    font-size: 2rem;
    margin-right: 0.3rem;

}

.titolo_ani{
    margin-top: 700px;
    font-style: italic;
    font-size: 2.5rem;
}
.page-article-title{
  text-align: justify center;
  font-family: "Times New Roman", Times, serif;
  
}
.article-title {
  text-align: justify center;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
}
.article-body{
  text-align: justify;
  font-size: 20px;
}